- name: "config hostgroups | create hostgroups"
  oasis_roles.satellite.hostgroup:
    username: "{{ satellite_admin_username }}"
    password: "{{ satellite_admin_password }}"
    server_url: "{{ satellite_server_url }}"
    name: "{{ item.name }}"
    parent: "{{ item.parent | default(omit) }}"
    organization: "{{ item.organization | default(omit) }}"
    organizations: "{{ item.organizations | default(omit) }}"
    locations: "{{ item.locations | default(omit) }}"
    lifecycle_environment: "{{ item.lifecycle_environment | default(omit) }}"
    domain: "{{ item.domain | default(omit) }}"
    subnet: "{{ item.mgmgsubnet | default(omit) }}"
    subnet6: "{{ item.subnet6 | default(omit) }}"
    content_source: "{{ item.content_source | default(omit) }}"
    kickstart_repository: "{{ item.kickstart_repository | default(omit) }}"
    architecture: "{{ item.architecture | default(omit) }}"
    operatingsystem: "{{ item.operatingsystem | default(omit) }}"
    medium: "{{ item.medium | default(omit) }}"
    ptable: "{{ item.ptable | default(omit) }}"
    root_pass: "{{ item.root_pass | default(omit) }}"
    compute_resource: "{{ item.compute_resource | default(omit) }}"
    compute_profile: "{{ item.compute_profile | default(omit) }}"
    content_view: "{{ item.content_view | default(omit) }}"
    puppetclasses: "{{ item.puppetclasses | default(omit) }}"
    parameters: "{{ item.parameters | default(omit) }}"
    state: present
  with_items: "{{ satellite_hostgroups }}"
