# handlers file for sat_config
- name: handler - publish content views
  oasis_roles.satellite.content_view_version:
    username: "{{ satellite_admin_username }}"
    password: "{{ satellite_admin_password }}"
    server_url: "{{ satellite_server_url }}"
    content_view: "{{ item.name }}"
    organization: "{{ satellite_organization }}"
    lifecycle_environments:
      - Library
  with_items: "{{ satellite_content_views }}"

- name: handler - publish composite content views
  oasis_roles.satellite.content_view_version:
    username: "{{ satellite_admin_username }}"
    password: "{{ satellite_admin_password }}"
    server_url: "{{ satellite_server_url }}"
    content_view: "{{ item.name }}"
    organization: "{{ satellite_organization }}"
    lifecycle_environments:
      - Library
      - "{{ satellite_prod_lifecycle_env }}"
  with_items: "{{ satellite_composite_content_views }}"
